html {
    font-size: 62.5%;
}
body {
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 1.6rem;
    color: #000000;
}
a {
    text-decoration: none;
    color: #000000;

}
/* header */
.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 80px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    line-height: 80px;
}
.header__nav {
    display: flex;
}
.header__logo {
    padding-right: 120px;
    font-size: 2.6rem;
    display: flex;
}
.header__img {
    line-height: 56px;
    margin-right: 20px;
}
.header__logo-img {
    width: 34px;
    height: 34px;
}
.header__logo-img-s {
    display: none;
    width: 34px;
    height: 34px;
}
.header__logo-ttl {
    color: #FFFFFF;
    font-size: 3.2rem;
}
.header__nav-list {
    display: flex;
}
.header__link a{
    color: #FFFFFF;
    font-size: 1.6rem;
}
.header__link-rooms {
    padding-right: 30px;
}
.header__link-meals {
    padding-right: 30px;
}
.header__reserve {
    display: flex;
    justify-content: center;
    width: 170px;
    background-color: #978F10;
    line-height: 54px;
    margin: auto 0;
    text-align: center;
    cursor: pointer;
}
.calendar {
    width: 22px;
    height: 22px;
    margin: auto 0;
    padding-right: 10px;
}
.header__reserve-btn {
    color: #FFFFFF;
}
/* modal */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.modal__content-ttl {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    border-bottom: 1px solid #E7E7E7;
    width: 80%;
    margin: 0 auto;
}
.img__close {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.form {
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
}
.form__name {
    padding: 14px 0;
}
.input__name {
    width: 100%;
    height: 3rem;
    border: 1px solid #E7E7E7;
    color: #797878;
    font-size: 1.4rem;
    padding: 0 10px;
    box-sizing:border-box;
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border-radius: 0%;
}
.form__email {
    padding: 14px 0;
}
.input__email {
    width: 100%;
    height: 3rem;
    border: 1px solid #E7E7E7;
    color: #797878;
    font-size: 1.4rem;
    padding: 0 10px;
    box-sizing:border-box;
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border-radius: 0%;
}
.form__plan {
    padding: 14px 0;
}
.from__select {
    width: 100%;
}
.select {
    width: 100%;
    height: 3rem;
    border: 1px solid #E7E7E7;
    color: #797878;
    font-size: 1.4rem;
    padding: 0 10px;
    box-sizing:border-box;
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border-radius: 0%;
}
.form__select {
    width: 100%;
    position: relative;
}
.form__select::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #E7E7E7;
    border-bottom: 2px solid #E7E7E7;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 30%;
    right: 1em;
}
.form__datetime {
    padding: 14px 0;
}
.input__flatpickr {
    width: 100%;
    height: 3rem;
    border: 1px solid #E7E7E7;
    color: #797878;
    font-size: 1.4rem;
    padding: 0 10px;
    box-sizing:border-box;
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border-radius: 0%;
}
.form__submit {
    display: block;
    margin: 0 auto;
    margin-top: 65px;
    width: 194px;
    height: 42px;
    border: 1px solid #707070;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    border-radius: 0%;
}
/* modal */
/* sp__nav */
.navarea {
    display: none;
}
.sp__nav {
    display: none;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
}
.open .sp__nav {
    left: 0;
    opacity: 1;
}
.sp__nav .inner {
    padding: 25px;
}
.sp__nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sp__nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
}
.sp__nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}
.sp__nav .inner ul li a:hover {
    background: #e4e4e4;
}
/*============
.toggle_btn
=============*/
.toggle_btn {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
}
.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 4px;
    transition: all .5s;
}
.toggle_btn span:nth-child(1) {
    top: -10px;
}
.toggle_btn span:nth-child(2) {
    top: 0px;
}
.toggle_btn span:nth-child(3) {
    bottom: 18px;
}
.open .toggle_btn span {
    background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
    display: none;
    transition: all .5s;
}
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
}
/* sp__nav */
@media(max-width: 768px) {
    .header {
        height: 60px;
    }
    .header__inner {
        line-height: 60px;
    }
    .header__reserve-btn {
        line-height: 25px;
        font-size: 1.4rem;
        margin-right: 0px;
    }
    .header__logo {
        padding-right: 10px;
        font-size: 1.8rem;
    }
    .header__img {
        line-height: 42px;
        margin-right: 5px;
    }
    .header__logo-img {
        width: 24px;
        height: 24px;
    }
    .header__logo-img-s {
        width: 24px;
        height: 24px;
    }
    .header__logo-ttl {
        font-size: 2rem;
    }
    .header__reserve {
        width: 110px;
        padding: 5px 0;
        margin-right: 60px;
    }
    .calendar {
        width: 22px;
        height: 22px;
        margin: auto 0;
        padding-right: 10px;
    }
    .header__nav-item {
        display: none;
    }
    .header__reserve-btn::before {
        width: 20px;
        height: 20px;
    }
    .sp__nav {
        display: block;
        left: -220px;
        width: 220px;
    }
    .toggle_btn {
        display: block;
    }
    .form {
        width: 95%;
    }
    .modal__content{
        padding: 1rem;
        width: 85%;
    }
    .modal__content-ttl {
        width: 95%
    }
}
/* header */

/* main */
.main {
    position: relative;
}
.main__bk {
    width: 100%;
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
}
.main__lead {
    z-index: 2;
    position: absolute;
    bottom: 35%;
    right: 25%;
}
.main__text {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 3.4rem;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.2rem;
    line-height: 2.5;
}
@-webkit-keyframes zoomUp {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}
@keyframes zoomUp {
    /* 1.15倍させる指定 */
0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
}
.swiper-slide {
overflow: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
    /* 12秒かけて拡大させる */
    -webkit-animation: zoomUp 12s linear 0s;
    animation: zoomUp 12s linear 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slide-img {
width: 100%;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 60px);
}
@media (max-width: 768px) {
    .main__text {
        font-size: 2.4rem;
        line-height: 2;
        letter-spacing: 0.1rem;
    }
}
/* main */

/* intro */
.intro {
    width: 100%;
    background-image: url(/img/bg.jpg);
    padding: 120px 0 70px;
}
.intro__inner {
    margin: 0 auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.intro__ttl {
    font-size: 2.8rem;
    line-height: 2.2;
    letter-spacing: 1.2rem;
    text-indent: -8rem;
}
.intro__text {
    margin-right: 118px;
    line-height: 2.2;
    letter-spacing: 1.2rem;
}
.intro__author {
    margin-right: 118px;
    font-size: 2.2rem;
    text-align: end;
    letter-spacing: 1.2rem;
}
@media (max-width: 768px) {
    .intro {
        padding: 125px 0;
    }
    .intro__inner {
        width: 95%;
    }
    .intro__ttl {
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: 0.8rem;
        text-indent: -6rem;
    }
    .intro__text {
        margin-right: 15px;
        line-height: 1.4;
        letter-spacing: 0.5rem;
        font-size: 1.4rem;
    }
    .intro__author {
        margin-right: 15px;
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
    }
}
@media (max-width: 1024px) {
    .intro__inner {
        width: 95%;
    }
    .intro__text {
        margin-right: 20px;
    }
    .intro__author {
        margin-right: 20px;
    }
}
/* intro */

/* contents */
.contents {
    margin-top: 10.6rem;
    width: 100%;
}
.content {
    display: flex;
    margin-bottom: 122px;
}
.content:nth-child(2) {
    flex-flow: row-reverse;
}
.content__imgs {
    width: 55%;
}
.content__img {
    width: 100%;
    height: auto;
}
.content__block {
    width: 45%;
}
.content__ttl {
    font-size: 3.6rem;
    line-height: 1.5;
    padding-bottom: 7.5rem;
    padding-left: 15%;
}
.content__text {
    padding-bottom: 7.5rem;
    line-height: 2;
    padding-left: 15%;
}
.content__btn {
    border: 1px solid #707070;
    padding: 20px 44px;
    margin-left: 15%;
}
.content__imgs {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s;
}
.content__imgs.scrollin {
    opacity: 1;
    transform: translateY(0);
}
.content__block {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s;
}
.content__block.scrollin {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 768px) {
    .contents {
        margin-top: 10.6rem;
        width: 100%;
    }
    .content {
        display: block;
        margin-bottom: 60px;
    }
    .content__imgs {
        width: 100%;
    }
    .content__img {
        width: 100%;
    }
    .content__block {
        padding: 0;
        width: 100%;
    }
    .content:nth-child(2) .content__block {
        padding: 0;
    }
    .content__ttl {
        font-size: 2.2rem;
        line-height: 1.5;
        padding-bottom: 2.5rem;
        padding: 2rem;
    }
    .content__text {
        padding-bottom: 2.5rem;
        line-height: 2;
        padding: 2rem;
    }
    .content__btn {
        padding: 13px 30px;
        margin: 0 auto;
        display: block;
        width: 120px;
        text-align: center;
        margin-top: 2rem;
    }
}
/* contents */

/* plan */
.plan {
    background-image: url(/img/bg02.jpg);
    background-size: cover;
    width: 100%;
}
.plan__logo-innner {
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}
.plan__logo {
    width: 4rem;
    height: 4rem;
}
.plan__ttl {
    font-size: 3.6rem;
    text-align: center;
    padding-bottom: 6rem;
}
.plan__contents {
    display: flex;
    justify-content: space-between;
    padding-bottom: 144px;
    max-width: 1180px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s;
}
.plan__contents.scrollin {
    opacity: 1;
    transform: translateY(0);
}
.plan__img {
    width: 331px;
    height: 209px;
    object-fit: cover;
}
.plan__content-lead {
    font-size: 2rem;
    padding: 30px 0;
    line-height: 1.5;
    width: 90%;
}
.plan__content-text {
    line-height: 2;
    width: 90%;
}
@media (max-width: 1024px) {
    .plan {
        background-image: url(/img/bg02.jpg);
        background-size: cover;
        width: 100%;
    }
    .plan__logo-innner {
        padding-top: 6rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .plan__logo {
        width: 4rem;
        height: 4rem;
    }
    .plan__ttl {
        font-size: 2.6rem;
        text-align: center;
        padding-bottom: 6rem;
    }
    .plan__contents {
        display: block;
        padding-bottom: 0;
        width: 90%;
    }
    .plan__img {
        width: 100%;
        height: 209px;
        object-fit: cover;
    }
    .plan__content-lead {
        font-size: 1.8rem;
        padding: 15px 0;
        line-height: 1.5;
    }
    .plan__content-text {
        line-height: 2;
        width: 90%;
        padding-bottom: 50px;
    }
}
/* plan */

/* news */
.news {
    width: 100%;
    margin-bottom: 60px;
}
.news__inner {
    margin: 0 auto;
    max-width: 1180px;
}
.news__logo-innner {
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}
.news__logo {
    width: 4rem;
    height: 4rem;
}
.news__ttl {
    font-size: 3.6rem;
    text-align: center;
    padding-bottom: 6rem;
}
.news__link {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
    cursor: pointer;
}
.news__info {
    margin-right: 53px;
}
.news__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(50px);
    transition: all 1.5s;
    opacity: 0;
}
.news__contents.scrollin {
    opacity: 1;
    transform: translateY(0);
}
.news__contents li {
    background-color: #F6F6F6;
    width: 47%;
    padding: 15px 10px;
    margin-bottom: 20px;
}
.news__content {
    display: flex;
}
.news__content-img {
    width: 103px;
    height: 100px;
    margin-right: 30px;
}
.news__content-img img {
    width: 103px;
    height: 100px;
}
.content__block-text {
    margin-top: 10px;
}
.news__inner ul {
    display: none;
}
.news__inner ul.show {
    display: flex;
}
.active {
    text-decoration: underline;
    opacity: 0.8;
}
@media (max-width: 1024px) {
    .news__contents {
        padding: 0 50px;
    }
}
@media (max-width: 768px) {
    .news__ttl {
        font-size: 2.6rem;
    }
    .news__contents {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .news__contents li {
        background-color: #F6F6F6;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 20px;
    }
    .news__content {
        padding: 15px 10px;
    }
    .content__block-text {
        line-height: 1.2;
    }
}
/* news */

/* access */
.access {
    background-image: url(/img/bg.jpg);
}
.access__inner {
    margin: 0 auto;
    max-width: 1180px;
    transform: translateY(50px);
    transition: all 1.5s;
    opacity: 0;
}
.access__inner.scrollin {
opacity: 1;
transform: translateY(0);
}
.access__logo-innner {
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;
}
.access__logo {
    width: 4rem;
    height: 4rem;
}
.access__ttl {
    font-size: 3.6rem;
    text-align: center;
    padding-bottom: 6rem;
}
.access__info {
    display: flex;
    padding: 30px 30px 70px 30px;
}
.access__info-img {
    width: 85%;
}
.access__info-img img {
    width: 100%;
}
.access__info-text {
    padding-left: 83px;
}
.access__info-postno {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 25px;
}
.access__info-telfax-no {
    padding-top: 24px;
    padding-bottom: 24px;
}
.access__info-open-time {
    padding-top: 24px;
    padding-bottom: 24px;
}
.access__info-remark {
    line-height: 25px;
}
.access__map {
    display: block;
    margin: 0 auto;
    padding-bottom: 110px;
}
@media (max-width: 1024px) {
    .access__info-text {
        padding-left: 40px;
    }
    .access__info-postno {
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 25px;
    }
    .access__info-telfax-no {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .access__info-open-time {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .access__map {
        height: 400px;
        width: 95%;
    }
}
@media (max-width: 768px) {
    .access__info-address {
        padding-top: 12px;
    }
    .access__ttl {
        padding-bottom: 1rem;
    }
    .access__logo {
        width: 3rem;
        height: 3rem;
    }
    .access__ttl {
        font-size: 2rem;
    }
    .access__info {
        display: block;
    }
    .access__info-text {
        padding-left: 0;
    }
    .access__info-img {
        width: 100%;
        text-align: center;
    }
    .access__info-img img {
        width: 100%;
    }
}
/* access */

/* footer */
.footer {
    background: url(/img/bg3.jpg) center center/cover no-repeat;
}
.footer__ul {
    padding: 64px 0 94px 0;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: 0 auto;
}
.footer__li {
    letter-spacing: 1rem;
}
.footer__li:nth-child(2)  {
    margin-left: 34px;
    margin-right: 34px;
}
.footer__link {
    font-size: 1.8rem;
}
.footer__logo {
    text-align: center;
    padding-bottom: 72px;
}
.footer__logo-img {
    width: 4rem;
    height: 4rem;
}
.footer__ttl {
    font-size: 3.6rem;
    padding-top: 2.5rem;
    font-weight: bold;
}
.footer__access {
    display: flex;
    justify-content: center;
    padding-bottom: 23px;
}
.footer__post {
    margin-right: 20px;
}
.footer__contact {
    display: flex;
    justify-content: center;
    padding-bottom: 61px;
}
.footer__tel {
    margin-right: 20px;
}
.footer__copy {
    text-align: center;
    height: 60px;
    background-color: #000000;
}
.footer__copy-text {
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 60px;
}
@media (max-width: 768px) {
    .footer__ul {
        padding: 64px 0 64px 0;
    }
    .footer__ttl {
        font-size: 2.6rem;
    }
}
/* footer */

/* rooms */
/* rooms__main */
.rooms__main {
    width: 100%;
    height: 500px;
    background: url(/img/oheya-header.jpg) center center/cover no-repeat;
    background-size: cover;
}
.rooms__main-ttl {
    color: #FFFFFF;
    font-size: 3.4rem;
    text-align: center;
    line-height: 500px;
}
/* rooms__main */

/* pankuzu */
.pankuzu {
    padding: 4rem 2rem;
    max-width: 1180px;
    margin: 0 auto;
}
.pankuzu__list {
    display: flex;
}
.pankuzu__triangle {
    padding: 0 1rem;
}
/* pankuzu */

/* contents */
.rooms__contents {
    padding: 0 42px;
}
.rooms__contents-inner {
    max-width: 1180px;
    margin: 0 auto;
}
.rooms__content {
    height: 485px;
    padding-bottom: 85px;
    position: relative;
}
.rooms__content {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s;
}
.rooms__content.scrollin {
    opacity: 1;
    transform: translateY(0);
}
.rooms__content:last-of-type {
    padding-bottom: 150px;
}
.contents__lead {
    padding: 50px 0 75px 0 ;
}
.contents__text {
    text-align: center;
    line-height: 2.5;
}
.rooms__content-img-block {
    width: 44.5%;
    height: calc(1180px * 0.445 * 0.57);
}
.rooms__content-img-block-mid{
    position: absolute;
    right: 0;
    width: 44.5%;
    height: calc(1180px * 0.445 * 0.57);
}
.rooms__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rooms__content-img-mid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rooms__content-info {
    background-image: url(../img/bg.jpg);
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 330px;
    padding: 61px 5% 20px 20%;
    top: 70px;
    right: 0;
}
.rooms__content-info-mid {
    background-image: url(../img/bg.jpg);
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 330px;
    padding: 61px 20% 20px 5%;
    top: 70px;
    left: 0;
}
.rooms__content-ttl {
    font-size: 2.4rem;
    font-weight: bold;
}
.rooms__content-text {
    line-height: 2;
    padding: 52px 0;
}
.rooms__content-remark {
    font-size: 1.4rem;
    line-height: 2;
}
@media (max-width: 768px) {
    .rooms__contents {
        padding: 0 20px;
    }
    .contents__text {
        text-align: left;
        line-height: 2;
    }
    .rooms__content {
        height: 650px;
    }
    .rooms__content-img-block {
        width: 90%;
    }
    .rooms__content-img-block-mid{
        width: 90%;
    }
    .rooms__content-info {
        background-image: url(../img/bg.jpg);
        position: absolute;
        z-index: -1;
        width: 70%;
        height: 280px;
        padding: 61px 5% 20px 20%;
        top: 280px;
        right: 0;
    }
    .rooms__content-info-mid {
        background-image: url(../img/bg.jpg);
        position: absolute;
        z-index: -1;
        width: 70%;
        height: 280px;
        padding: 61px 20% 20px 5%;
        top: 280px;
        left: 0;
    }
    .rooms__content-ttl {
        font-size: 2rem;
    }
    .rooms__content-text {
        line-height: 1.5;
        padding: 30px 0;
    }
    .rooms__content-remark {
        line-height: 1.5;
    }
}
/* contents */
/* rooms */

/* meal */
/* meal__main */
.meal__main {
    width: 100%;
    height: 500px;
    background: url(/img/menu-header.jpg) center center/cover no-repeat;
    background-size: cover;
}
.meal__main-ttl {
    color: #FFFFFF;
    font-size: 3.4rem;
    text-align: center;
    line-height: 500px;
}
/* meal__main */

/* pankuzu */
.pankuzu {
    padding: 4rem 2rem;
    max-width: 1180px;
    margin: 0 auto;
}
.pankuzu__list {
    display: flex;
}
.pankuzu__triangle {
    padding: 0 1rem;
}
/* pankuzu */

/* contents */
.meal__contents {
    padding: 0 42px;
}
.meal__contents-inner {
    max-width: 1180px;
    margin: 0 auto;
}
.meal__content {
    height: 485px;
    padding-bottom: 85px;
    position: relative;
}
.meal__content {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s;
}
.meal__content.scrollin {
    opacity: 1;
    transform: translateY(0);
}
.meal__content:last-of-type {
    padding-bottom: 150px;
}
.contents__lead {
    padding: 50px 0 75px 0 ;
}
.contents__text {
    text-align: center;
    line-height: 2.5;
}
.meal__content-img-block {
    width: 44.5%;
    height: calc(1180px * 0.445 * 0.57);
}
.meal__content-img-block-mid{
    position: absolute;
    right: 0;
    width: 44.5%;
    height: calc(1180px * 0.445 * 0.57);
}
.meal__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meal__content-img-mid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meal__content-info {
    background-image: url(../img/bg.jpg);
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 330px;
    padding: 61px 5% 20px 20%;
    top: 70px;
    right: 0;
}
.meal__content-info-mid {
    background-image: url(../img/bg.jpg);
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 330px;
    padding: 61px 20% 20px 5%;
    top: 70px;
    left: 0;
}
.meal__content-ttl {
    font-size: 2.4rem;
    font-weight: bold;
}
.meal__content-text {
    line-height: 2;
    padding: 52px 0;
}
.meal__content-remark {
    font-size: 1.4rem;
    line-height: 2;
}
@media (max-width: 768px) {
    .meal__contents {
        padding: 0 20px;
    }
    .contents__text {
        text-align: left;
        line-height: 2;
    }
    .meal__content {
        height: 650px;
    }
    .meal__content-img-block {
        width: 90%;
    }
    .meal__content-img-block-mid{
        width: 90%;
    }
    .meal__content-info {
        background-image: url(../img/bg.jpg);
        position: absolute;
        z-index: -1;
        width: 70%;
        height: 280px;
        padding: 61px 5% 20px 20%;
        top: 280px;
        right: 0;
    }
    .meal__content-info-mid {
        background-image: url(../img/bg.jpg);
        position: absolute;
        z-index: -1;
        width: 70%;
        height: 280px;
        padding: 61px 20% 20px 5%;
        top: 280px;
        left: 0;
    }
    .meal__content-ttl {
        font-size: 2rem;
    }
    .meal__content-text {
        line-height: 1.5;
        padding: 30px 0;
    }
    .meal__content-remark {
        line-height: 1.5;
    }
}
/* contents */
/* meal */


/* bath */
/* bath__main */
.bath__main {
    width: 100%;
    height: 500px;
    background: url(/img/onsen-header.jpg) center center/cover no-repeat;
    background-size: cover;
}
.bath__main-ttl {
    color: #FFFFFF;
    font-size: 3.4rem;
    text-align: center;
    line-height: 500px;
}
/* bath__main */

/* pankuzu */
.pankuzu {
    padding: 4rem 2rem;
    max-width: 1180px;
    margin: 0 auto;
}
.pankuzu__list {
    display: flex;
}
.pankuzu__triangle {
    padding: 0 1rem;
}
/* pankuzu */

/* contents */
.bath__contents {
    padding: 0 42px;
}
.bath__contents-inner {
    max-width: 1180px;
    margin: 0 auto;
}
.bath__content {
    height: 485px;
    padding-bottom: 85px;
    position: relative;
}
.bath__content {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s;
}
.bath__content.scrollin {
    opacity: 1;
    transform: translateY(0);
}
.bath__content:last-of-type {
    padding-bottom: 150px;
}
.contents__lead {
    padding: 50px 0 75px 0 ;
}
.contents__text {
    text-align: center;
    line-height: 2.5;
}
.bath__content-img-block {
    width: 44.5%;
    height: calc(1180px * 0.445 * 0.57);
}
.bath__content-img-block-mid{
    position: absolute;
    right: 0;
    width: 44.5%;
    height: calc(1180px * 0.445 * 0.57);
}
.bath__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bath__content-img-mid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bath__content-info {
    background-image: url(../img/bg.jpg);
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 330px;
    padding: 61px 5% 20px 20%;
    top: 70px;
    right: 0;
}
.bath__content-info-mid {
    background-image: url(../img/bg.jpg);
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 330px;
    padding: 61px 20% 20px 5%;
    top: 70px;
    left: 0;
}
.bath__content-ttl {
    font-size: 2.4rem;
    font-weight: bold;
}
.bath__content-text {
    line-height: 2;
    padding: 52px 0;
}
.bath__effect {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 70px;
}
.bath__effect-ttl {
    text-align: center;
    font-size: 2.6rem;
    padding-top: 94px;
}
.bath__effect-content {
    padding: 70px 0;
    max-width: 880px;
    margin: 0 auto;
}
.bath__effect-tr {
    line-height: 3;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}
.bath__effect-th {
    width: 220px;
    font-size: 1.5rem;
    padding: 15px 15px 15px 0;
}
.bath__effect-td {
    width: 660px;
    font-size: 1.5rem;
    padding: 15px 15px 15px 0;
    line-height: 1.5;
}
@media (max-width: 768px) {
    .bath__contents {
        padding: 0 20px;
    }
    .contents__text {
        text-align: left;
        line-height: 2;
    }
    .bath__content {
        height: 650px;
    }
    .bath__content-img-block {
        width: 90%;
    }
    .bath__content-img-block-mid{
        width: 90%;
    }
    .bath__content-info {
        background-image: url(../img/bg.jpg);
        position: absolute;
        z-index: -1;
        width: 70%;
        height: 280px;
        padding: 61px 5% 20px 20%;
        top: 280px;
        right: 0;
    }
    .bath__content-info-mid {
        background-image: url(../img/bg.jpg);
        position: absolute;
        z-index: -1;
        width: 70%;
        height: 280px;
        padding: 61px 20% 20px 5%;
        top: 280px;
        left: 0;
    }
    .bath__content-ttl {
        font-size: 2rem;
    }
    .bath__content-text {
        line-height: 1.5;
        padding: 30px 0;
    }
    .bath__effect-ttl {
        font-size: 2rem;
    }
}
/* contents */
/* bath */
